services:
  - type: web
    name: readlater
    env: node
    plan: free
    buildCommand: npm install
    startCommand: node server.js
    envVars:
      - key: NODE_ENV
        value: production
      - key: READLATER_API_KEY
        generateValue: true
      - key: MONGODB_URI
        sync: false
